[submodule "emacs.d/contrib/smex"]
	path = emacs.d/contrib/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "emacs.d/contrib/expand-region"]
	path = emacs.d/contrib/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule "emacs.d/contrib/ido-ubiquitous"]
	path = emacs.d/contrib/ido-ubiquitous
	url = git://github.com/DarwinAwardWinner/ido-ubiquitous.git
[submodule "emacs.d/themes/zenburn-emacs"]
	path = emacs.d/themes/zenburn-emacs
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "zsh/contrib/oh-my-zsh"]
	path = zsh/contrib/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "emacs.d/contrib/Pymacs"]
	path = emacs.d/contrib/Pymacs
	url = git://github.com/pinard/Pymacs.git
[submodule "emacs.d/contrib/yasnippet"]
	path = emacs.d/contrib/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "emacs.d/contrib/magit"]
	path = emacs.d/contrib/magit
	url = git://github.com/magit/magit.git
[submodule "emacs.d/contrib/ace-jump-mode"]
	path = emacs.d/contrib/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs.d/contrib/flymake-cursor"]
	path = emacs.d/contrib/flymake-cursor
	url = git://github.com/illusori/emacs-flymake-cursor.git
[submodule "emacs.d/contrib/emacs-request"]
	path = emacs.d/contrib/emacs-request
	url = https://github.com/tkf/emacs-request.git
[submodule "emacs.d/contrib/emacs-websocket"]
	path = emacs.d/contrib/emacs-websocket
	url = https://github.com/ahyatt/emacs-websocket.git
