[submodule "zsh/contrib/oh-my-zsh"]
	path = zsh/contrib/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/contrib/zsh-completions"]
	path = zsh/contrib/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "bash/contrib/bash-it"]
	path = bash/contrib/bash-it
	url = https://github.com/revans/bash-it.git
[submodule "zsh/contrib/zsh-autosuggestions"]
	path = zsh/contrib/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "python/contrib/pyenv"]
	path = python/contrib/pyenv
	url = https://github.com/pyenv/pyenv.git
